@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
label,
input {
  width: 100%;
}
textarea {
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  padding: 2%;
  border-top: 1px solid #673fb4;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
